name: CI for Vanilla Notebooks

on:
  push:
    branches:
      - main
    paths:
      - 'recipes/Time_Series/Bike_Sharing_Finetuning_with_Exogenous.ipynb'
      - 'recipes/Time_Series/Few-shot_Finetuning_and_Evaluation.ipynb'
      - 'recipes/Time_Series/Preprocessor_Use_and_Performance_Evaluation.ipynb' 
      - 'recipes/Time_Series/Time_Series_Getting_Started.ipynb'
      - '.github/workflows/vanilla_workflows.yaml'
      - '.github/notebook_lists/vanilla_notebooks.txt'
  pull_request:
    branches:
      - main
    paths:
      - 'recipes/Time_Series/Bike_Sharing_Finetuning_with_Exogenous.ipynb'
      - 'recipes/Time_Series/Few-shot_Finetuning_and_Evaluation.ipynb'
      - 'recipes/Time_Series/Preprocessor_Use_and_Performance_Evaluation.ipynb'
      - 'recipes/Time_Series/Time_Series_Getting_Started.ipynb'
      - '.github/workflows/vanilla_workflows.yaml'
      - '.github/notebook_lists/vanilla_notebooks.txt'


jobs:
  test-vanilla-notebooks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip    
          pip install nbconvert nbclient ipykernel

      - name: Run Vanilla Notebooks
        env:
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
        run: |
          set -e
          notebooks=$(cat .github/notebook_lists/vanilla_notebooks.txt | grep -v '^#' | tr '\n' ' ')
          for notebook in $notebooks; do 
            echo "Building virtual env"  
            rm -rf .venv
            python -m venv .venv
            source .venv/bin/activate
            pip install ipykernel
            echo "Installing kernel $kernel"
            kernel=$(basename $notebook)
            python -m ipykernel install --user --name $kernel 
            echo "Executing $notebook"
            jupyter nbconvert --to notebook --execute --ExecutePreprocessor.kernel_name $kernel --inplace $notebook
            deactivate
          done
